*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgba(172, 28, 164, 0.438);
}

.modal-footer{
    justify-content: flex-end;
}